# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Big data / archives
*.zip
*.csv
*.parquet

# Optional: if you keep all datasets inside this folder
cookingdataset/
data/
reports/

# Python
__pycache__/
!SpiceRack-website-main/__pycache__/unsplash.cpython-311.pyc

*.pyc
.venv/
.env 
spicerack_model.joblib
spicerack_model2.joblib
spicerack_model2.joblib
*.joblib
*.csv
.Rhistory
SpiceRack-website-main/reports/meat_audit_report.txt
*.csv
*.db
.history/
